/* || HOST FONTS */
@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  src:
    url("./fonts/Ubuntu-Regular.woff2") format("woff2"),
    url("./fonts/Ubuntu-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  src:
    url("./fonts/Ubuntu-Medium.woff2") format("woff2"),
    url("./fonts/Ubuntu-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 700;
  src:
    url("./fonts/Ubuntu-Bold.woff2") format("woff2"),
    url("./fonts/Ubuntu-Bold.woff") format("woff");
  font-display: swap;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400; /* Regular weight */
}
